.container-menu{
    background-color: rgb(92,92,92);
    min-height: 240px;
    width: 35vw;
    min-width: 360px;
    border-radius: 25px 25px 25px 25px;
}
.container-menu > h6{
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: rgba(255,255,255,0.8);
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu > button{
    width: 33vw;
    min-width: 340px;
    height: 2.5rem;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.6);
    color:rgba(0, 0, 0, 0.8);
}
.menu > button:hover{
    background-color: rgb(158, 158, 158);
}
.menu > button:first-child{
    border-radius: 25px 25px 0 0;
}
.menu > button:last-child{
    border-radius: 0 0 25px 25px;
}